body {
    background-clip: url(media/14640112_3840_2160_60fps.mp4);
    background-size: cover;   
    font-family: Rubik, sans-serif;
    font-size: 15;
    margin: 0;
    color: white;
}

.bg video {
  position: fixed;
  z-index: -1;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

header {
    width: 100%;
    border-bottom: 3px solid white;
    text-align: center;
    background-color: black;
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    outline: 3px solid #000;
}

.link {
    display: inline-block;
    padding: 15px 0;
    margin: 15px 150px;
    position: relative;
    color: white;
    font-size: 30;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
    color: aliceblue;
    transition: 0.5s
}

#intro-message {
    background-color: black;
    font-size: 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 200px auto 0px auto;
    padding: 15;
    display: table;
    border-radius: 50px;
}

p {
    background-color: black;
    font-size: 24px;
    display: table;
    justify-content: center;
    align-content: center;
    margin: 100 300;
    padding: 15px;
    border-radius: 50px;
}

footer {
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}